In [ ]:
import json
import csv
import pandas as pd
import numpy as np

file = "purchase_data.json" #data set 1
file_df = pd.read_json(file) # data set 1

#file = "purchase_data2.json" # data set 2
#file_df = pd.read_json(file) # data set 2



#file_df.head()
file_df.columns

# Player Count

In [454]:
total_players = pd.DataFrame(
                        {"Total Players": [file_df["SN"].nunique()]})
total_players

   Total Players
0            573

# Purchasing Analysis

In [422]:
purchase = pd.DataFrame(
                {"Number of unique items": [file_df["Item ID"].nunique()],
                    "Average purchase price": [file_df["Price"].mean()],
                    "Total number of purchases": [file_df["Price"].count()],
                    "Total revenue": [file_df["Price"].sum()]})
purchase

,Average purchase price,Number of unique items,Total number of purchases,Total revenue
0,2.931192,183,780,2286.33

# Gender Demographics

In [432]:
gender = file_df.groupby("Gender")["SN"].nunique().reset_index()
gender["Percentage"] = 100 * gender["SN"] / gender["SN"].sum()
gender = gender.rename(columns={"SN" : "Count"})
gender
#gender.groupby("Gender").mean().head()

                  Gender  Count  Percentage
0                 Female    100   17.452007
1                   Male    465   81.151832
2  Other / Non-Disclosed      8    1.396161

# Purchasing Analysis Gender

In [448]:
genderp = file_df[["Gender","Price"]]
genderp = genderp.groupby("Gender").count()
genderp["Avg Price"] = file_df.groupby(["Gender"])["Price"].mean() #wont let me calculate normalized if formatted
genderp["Total Purchase"] = file_df.groupby(["Gender"])["Price"].sum().map('${:,.2f}'.format)
genderp["Normalized Totals"] = (genderp["Price"] - genderp["Avg Price"])/genderp["Price"].std(ddof=0)
genderp = genderp.rename(columns={"Price" : "Count"})
genderp

                       Count  Avg Price Total Purchase  Normalized Totals
Gender
Female                   136   2.815515        $382.91           0.495769
Male                     633   2.950521      $1,867.68           2.345310
Other / Non-Disclosed     11   3.249091         $35.74           0.028852

# AGE DEMOGRAPHICS

In [455]:
#maxed = file_df["Age"].max()
#maxed - 45
bins = [0,10,15,20,25,30,35,40,50]
age = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40-45"]

pd.cut(file_df["Age"],bins,labels=age).head()

aged_df=file_df

aged_df["Age Group"] = pd.cut(aged_df["Age"],bins,labels=age)
#aged_df.head()

age_demo = aged_df[["Age Group","Price"]]
age_demo = age_demo.groupby("Age Group").count()
age_demo["Avg Price"] = aged_df.groupby(["Age Group"])["Price"].mean() #wont let me calculate normalized if formatted
age_demo["Total Purchase"] = aged_df.groupby(["Age Group"])["Price"].sum().map('${:,.2f}'.format)
age_demo["Normalized Totals"] = (age_demo["Price"]-age_demo["Avg Price"])/age_demo["Price"].std(ddof=0)
age_demo = age_demo.rename(columns={"Price" : "Count"})
age_demo

           Count  Avg Price Total Purchase  Normalized Totals
Age Group
<10           32   3.019375         $96.62           0.311999
10-14         78   2.873718        $224.15           0.808792
15-19        184   2.873587        $528.74           1.949965
20-24        305   2.959377        $902.61           3.251699
25-29         76   2.892368        $219.82           0.787060
30-34         58   3.073448        $178.26           0.591326
35-39         44   2.897500        $127.49           0.442500
40-45          3   2.880000          $8.64           0.001292

# Top Spender

In [434]:
baller = file_df[["SN","Price"]]
baller = baller.groupby("SN").count()
baller["Avg Price"] = file_df.groupby(["SN"])["Price"].mean().map('${:,.2f}'.format)
baller["Total Purchase"] = file_df.groupby(["SN"])["Price"].sum().map('${:,.2f}'.format)
baller = baller.rename(columns={"Price" : "Count"})
biggest_baller = baller.sort_values(["Total Purchase"], ascending=False)
biggest_baller.reset_index(inplace=True)
biggest_baller.head(5)

#baller.head()

             SN  Count Avg Price Total Purchase
0      Qarwen67      4     $2.49          $9.97
1      Sondim43      3     $3.13          $9.38
2    Tillyrin30      3     $3.06          $9.19
3   Lisistaya47      3     $3.06          $9.19
4  Tyisriphos58      2     $4.59          $9.18

# popular

In [429]:
pop = file_df[["Item ID","Item Name","Price"]]
pop = pop.groupby(["Item ID","Item Name"]).count()
pop["Avg Price"] = file_df.groupby(["Item ID", "Item Name"])["Price"].mean().map('${:,.2f}'.format)
pop["Total Purchase"] = file_df.groupby(["Item ID", "Item Name"])["Price"].sum().map('${:,.2f}'.format)
pop = pop.rename(columns={"Price" : "Count"})

most_pop = pop.sort_values(["Count"], ascending=False)
most_pop.reset_index(inplace=True)
most_pop.head(5)

,Item ID,Item Name,Count,Avg Price,Total Purchase
0,39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
1,84,Arcane Gem,11,$2.23,$24.53
2,31,Trickster,9,$2.07,$18.63
3,175,Woeful Adamantite Claymore,9,$1.24,$11.16
4,13,Serenity,9,$1.49,$13.41

# money maker

In [456]:
profit = file_df[["Item ID","Item Name","Price"]]
profit = profit.groupby(["Item ID","Item Name"]).count()
profit["Avg Price"] = file_df.groupby(["Item ID", "Item Name"])["Price"].mean().map('${:,.2f}'.format)
profit["Total Purchase Value"] = file_df.groupby(["Item ID", "Item Name"])["Price"].sum().map('${:,.2f}'.format)
profit = profit.rename(columns={"Price" : "Count"})

most_profit = profit.sort_values(["Total Purchase Value"], ascending=False)
most_profit.reset_index(inplace=True)
most_profit.head(5)

,Item ID,Item Name,Count,Avg Price,Total Purchase Value
0,170,Shadowsteel,5,$1.98,$9.90
1,21,Souleater,3,$3.27,$9.81
2,37,"Shadow Strike, Glory of Ending Hope",5,$1.93,$9.65
3,127,"Heartseeker, Reaver of Souls",3,$3.21,$9.63
4,120,Agatha,5,$1.91,$9.55

# Observations

In [ ]:
Observations:
    #1 - as expected most of the age group falls between the 15-19 and 20-24 age range
    #2 - males dominate purchasing volume accounting for over 80% of volume
    #3 - There doesnt appear to be one item that has high volume and the item volume appears to be more distributed amongst the 183 items